a {
  text-decoration: none;
}

/*--------------- header --------------*/

.hamburger {
  display: none;
}

@media screen and (max-width: 576px) {
  .nav-item {
    display: none;
  }
  .hamburger {
    display: block;
  }
  header {
    position: relative;
  }
  .active-burger {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    z-index: 500;
    background-color: white;
    text-align: center;
  }
  .active-burger .nav-item {
    display: block;
  }
  .bi-x {
    display: none;
  }
  .active {
    display: block;
  }
  .deactive {
    display: none;
  }
}

/*--------------- header --------------*/

/*--------------- slideShow --------------*/

.carousel-item {
  height: 100vh;
}

/*--------------- slideShow --------------*/

/*--------------- ourteam --------------*/

.member:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.member-img {
  position: relative;
}
.social {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: auto;
  height: 30px;
  background: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.social a {
  margin: 10px;
  font-size: 18px;
}
.member {
  border-radius: 1rem;
}
.member-img {
  border-radius: 1rem 1rem 0 0;
}
.member-img img {
  border-radius: 1rem 1rem 0 0;
}
.member-info {
  border-radius: 0 0 1rem 1rem;
}
.member:hover .social {
  opacity: 0.6;
}

/*--------------- ourteam --------------*/

/*--------------- priceTable --------------*/

.rounded-lg {
  border-radius: 1rem;
}
.text-small {
  font-size: 0.9rem;
}
.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}
.pricingtable:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*--------------- priceTable --------------*/

/*--------------- clients --------------*/

.clients img {
  width: 110px;
  height: auto;
  filter: grayscale(1);
  transition: all ease-in-out 0.3s;
}
.clients img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}
/*--------------- clients --------------*/

/*--------------- gotoTop --------------*/

.gototop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.show {
  visibility: visible;
  opacity: 1;
}

/*--------------- gotoTop --------------*/
